/*▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬ */

/* PsychoušSvK */
[data-cid^="40796598-"] .badge-box .bdg {
    border-radius: 5px;
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
    background-image: url("https://PsychousSvK.github.io/WolfsBurrow/Icons/PsychousSvK.jpg");
}

#user-rollover.id-40796598 .badge-box .bdg {
    border-radius: 5px;
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
    background-image: url("https://PsychousSvK.github.io/WolfsBurrow/Icons/PsychousSvK.jpg");
}

#user-rollover.id-40796598 .badge-box i.bdg {
    border-radius: 5px;
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
    background-image: url("https://PsychousSvK.github.io/WolfsBurrow/Icons/PsychousSvK.jpg");
}

#chat-messages .id-40796598 .badge-box:hover {
    width:65px;
    height:65px;
    transition:.4s
}

.user-content.profile .meta .badge-box {
    border-radius: 5px;
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
    background-image: url("https://PsychousSvK.github.io/WolfsBurrow/Icons/PsychousSvK.jpg");
}

#chat-messages .id-40796598 .badge-box i.bdg {
    border-radius: 5px;
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
    background-image: url("https://PsychousSvK.github.io/WolfsBurrow/Icons/PsychousSvK.jpg");
}

/*▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬ */
