/*▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬ */

/* PsychoušSvK */
[data-cid^="40796598-"] .badge-box .bdg {
    border-radius: 5px;
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
    background-image: url("https://PsychousSvK.github.io/WolfsBurrow/Icons/PsychousSvK.jpg");
}

#user-rollover.id-40796598 .badge-box .bdg {
    border-radius: 5px;
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
    background-image: url("https://PsychousSvK.github.io/WolfsBurrow/Icons/PsychousSvK.jpg");
}

#user-rollover.id-40796598 .badge-box i.bdg {
    background-image: url(https://PsychousSvK.github.io/WolfsBurrow/Icons/PsychousSvK.jpg);
    background-size: cover;
    width: 100%;
    height: 100%;
    background-position: initial;
    position: absolute;
    top: 0;
    left: 0;
}

#chat-messages .id-40796598 .badge-box:hover {
    width:65px;
    height:65px;
    transition:.4s
}

#chat-messages .id-40796598 .badge-box i.bdg {
    background-image:url(https://PsychousSvK.github.io/WolfsBurrow/Icons/PsychousSvK.jpg);
    background-size:cover;
    width:100%;
    height:100%;
    background-position:initial;
    position:absolute;
    top:0;
    left:0
}

#user-view .bdg {
    background-image: url(https://PsychousSvK.github.io/WolfsBurrow/Icons/PsychousSvK.jpg);
}
   
/*▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬ */
