/*
 ┌————————————————————┐
 │     Role: NONE     │
 └————————————————————┘
 --[MENTION]-- */
#chat .cm.mention span {
	color: hsl(60, 70%, 50%);
}
#chat .mention {
	background: linear-gradient(hsla(60, 80%, 30%, 0.4), hsla(60, 80%, 20%, 0.8)),
	linear-gradient(to right, hsla(0, 0%, 0%, 0), hsla(0, 0%, 100%, 0.2)) !important;
	box-shadow: inset 0 0 0 1px hsl(60, 30%, 50%) !important;
	border: none !important;
}
#chat .cm.mention .name,
#chat .cm.mention .timestamp {
	color: hsl(60, 80%, 50%);
}
/*
 ┌————————————————————┐
 │     Role: YOU      │
 └————————————————————┘
*/
.is-you .name,
#chat .cm.role-you .un {
	color: hsl(200, 100%, 50%);
}
/* --[MENTION]-- */
#chat .mention.role-you {
	background: linear-gradient(hsla(200, 100%, 20%, 0.4), hsla(200, 100%, 11%, 0.8)),
	linear-gradient(to right, hsla(0, 0%, 0%, 0), hsla(0, 0%, 100%, 0.2)) !important;
	box-shadow: inset 0 0 0 1px hsl(200, 100%, 30%) !important;
	border: none !important;
}
#chat .mention.is-you .name,
#chat .mention.is-you .timestamp {
	color: hsl(200, 100%, 40%) !important;
}
/*
 ┌————————————————————┐
 │   Role: FRIEND     │
 └————————————————————┘
*/
#chat .cm.role-friend .un {
	color: hsl(80, 60%, 50%);
}
/* --[MENTION]-- */
#chat .mention.role-friend {
	background: linear-gradient(hsla(80, 60%, 20%, 0.4), hsla(80, 50%, 13%, 0.8)),
	linear-gradient(to right, hsla(0, 0%, 0%, 0), hsla(0, 0%, 100%, 0.2)) !important;
	box-shadow: inset 0 0 0 1px hsl(80, 50%, 30%) !important;
	border: none !important;
}
#chat .mention.role-friend .name,
#chat .mention.role-friend .timestamp {
	color: hsl(80, 60%, 60%) !important;
}
/*
 ┌————————————————————┐
 │  Role: SILVERSUB   │
 └————————————————————┘
*/
.icon-chat-silver-subscriber {
	background: url(https://PsychousSvK.github.io/WolfsBurrow/Icons/Ranks.png) -120px !important;
}
#user-rollover .meta.silversubscriber .status i {
	background: url(https://PsychousSvK.github.io/WolfsBurrow/Icons/Ranks.png) -120px !important;
}
.icon-chat-silver-subscriber ~ span {
	color: #8F96A3 !important;
}
#user-rollover .meta.silversubscriber .status span {
    color: #8F96A3 !important;
}
/* --[MENTION]-- */
#chat .mention.role-silver-subscriber {
	background: linear-gradient(hsla(220, 10%, 30%, 0.4), hsla(220, 10%, 20%, 0.8)),
	linear-gradient(to right, hsla(0, 0%, 0%, 0), hsla(0, 0%, 100%, 0.2)) !important;
	box-shadow: inset 0 0 0 1px hsl(220, 10%, 50%) !important;
}
#chat .mention.role-silver-subscriber .name,
#chat .mention.role-silver-subscriber .timestamp {
	color: hsl(220, 10%, 60%) !important;
}
/*
 ┌————————————————————┐
 │   Role: GOLDSUB    │
 └————————————————————┘
*/
.icon-chat-subscriber {
	background: url(https://PsychousSvK.github.io/WolfsBurrow/Icons/Ranks.png) -105px !important;
}
#user-rollover .meta.subscriber .status i {
	background: url(https://PsychousSvK.github.io/WolfsBurrow/Icons/Ranks.png) -105px !important;
}
.icon-chat-subscriber ~ span {
	color: #979140 !important;
}
#user-rollover .meta.subscriber .status span {
    color: #979140 !important;
}
/* --[MENTION]-- */
#chat .mention.role-subscriber {
	background: linear-gradient(hsla(56, 58%, 42%, 0.4), hsla(56, 58%, 52%, 0.8)),
	linear-gradient(to right, hsla(0, 0%, 0%, 0), hsla(0, 0%, 100%, 0.2)) !important;
	box-shadow: inset 0 0 0 1px hsl(56, 58%, 62%) !important;
}
#chat .mention.role-subscriber .name,
#chat .mention.role-subscriber .timestamp {
	color: hsl(56, 58%, 72%) !important;
}
/*
 ┌————————————————————┐
 │   Role: RES. DJ    │
 └————————————————————┘
*/
.icon-chat-dj {
	background: url(https://PsychousSvK.github.io/WolfsBurrow/Icons/Ranks.png) -90px !important;
}
.icon-chat-dj ~ span,
#dialog-user-role .role-menu .menu ul .dj span {
	color: #206200 !important;
}
/* --[MENTION]-- */
#chat .mention.role-dj {
	background: linear-gradient(hsla(100, 100%, 19%, 0.4), hsla(100, 100%, 29%, 0.8)),
	linear-gradient(to right, hsla(0, 0%, 0%, 0), hsla(0, 0%, 100%, .2)) !important;
	box-shadow: inset 0 0 0 1px hsl(100, 50%, 39%) !important;
}
#chat .mention.role-dj .name,
#chat .mention.role-dj .timestamp {
	color: hsl(100, 100%, 49%) !important;
}
/*
 ┌————————————————————┐
 │   Role: BOUNCER    │
 └————————————————————┘
*/
.icon-chat-bouncer {
	background: url(https://PsychousSvK.github.io/WolfsBurrow/Icons/Ranks.png) -75px !important;
}
.icon-chat-bouncer ~ span,
#dialog-user-role .role-menu .menu ul .bouncer span {
	color: #4F7B3A !important;
}
/* --[MENTION]-- */
#chat .mention.role-bouncer {
	background: linear-gradient(hsla(101, 53%, 35%, 0.4), hsla(101, 53%, 45%, 0.8)),
	linear-gradient(to right, hsla(0, 0%, 0%, 0), hsla(0, 0%, 100%, 0.2)) !important;
	box-shadow: inset 0 0 0 1px hsl(101, 53%, 55%) !important;
}
#chat .mention.role-bouncer .name,
#chat .mention.role-bouncer .timestamp {
	color: #4F7B3A !important;
}/*
 ┌————————————————————┐
 │   Role: MANAGER    │
 └————————————————————┘
*/
.icon-chat-manager {
	background: url(https://PsychousSvK.github.io/WolfsBurrow/Icons/Ranks.png) -60px !important;
}
.icon-chat-manager ~ span,
#dialog-user-role .role-menu .menu ul .manager span {
	color: #70955F !important;
}
/* --[MENTION]-- */
#chat .mention.role-manager {
	background: linear-gradient(hsla(101, 36%, 48%, 0.4), hsla(101, 36%, 58%, 0.8)),
	linear-gradient(to right, hsla(0, 0%, 0%, 0), hsla(0, 0%, 100%, 0.2)) !important;
	box-shadow: inset 0 0 0 1px hsl(101, 36%, 68%) !important;
}
#chat .mention.role-manager .name,
#chat .mention.role-manager .timestamp {
	color: #70955F !important;
}
/*
 ┌————————————————————┐
 │   Role: CO-HOST    │
 └————————————————————┘
*/
.icon-chat-cohost {
	background: url(https://PsychousSvK.github.io/WolfsBurrow/Icons/Ranks.png) -45px !important;
}
.icon-chat-cohost ~ span,
#dialog-user-role .dialog-body .role-menu .menu ul .cohost span,
.role-cohost .un {
	color: #8FC078 !important;
}
/* --[MENTION]-- */
#chat .mention.role-cohost {
	background: linear-gradient(hsla(101, 38%, 61%, 0.4), hsla(101, 38%, 71%, 0.8)),
	linear-gradient(to right, hsla(0, 0%, 0%, 0), hsla(0, 0%, 100%, 0.2)) !important;
	box-shadow: inset 0 0 0 1px hsl(101, 38%, 81%) !important;
}
#chat .mention.role-cohost .name,
#chat .mention.role-cohost .timestamp {
	color: hsl(101, 38%, 91%) !important;
}
/*
 ┌————————————————————┐
 │     Role: HOST     │
 └————————————————————┘
*/
.icon-chat-host {
	background: url(https://PsychousSvK.github.io/WolfsBurrow/Icons/Ranks.png) -30px !important;
}
.icon-chat-host ~ span,
#dialog-user-role .role-menu .menu ul .host span {
	color: #8FC078 !important;
}
/* --[MENTION]-- */
#chat .mention.role-host {
	background: linear-gradient(hsla(101, 38%, 61%, 0.4), hsla(101, 38%, 71%, 0.8))),
	linear-gradient(to right, hsla(0, 0%, 0%, 0), hsla(0, 0%, 100%, 0.2)) !important;
	box-shadow: inset 0 0 0 1px hsl(101, 38%, 81%) !important;
}
#chat .mention.role-host .name,
#chat .mention.role-host .timestamp {
	color: hsl(101, 38%, 91%) !important;
}
/*
 ┌————————————————————┐
 │   Role: PROMOTER   │
 └————————————————————┘
*/
.icon-chat-promoter {
	background: url(https://PsychousSvK.github.io/WolfsBurrow/Icons/PromoterWolf.png) -16px !important;
}
.icon-chat-promoter ~ span,
#chat .role-promoter .un {
	color: #40975B !important;
}
/* --[MENTION]-- */
#chat .mention.role-promoter {
	background: linear-gradient(hsla(139, 84%, 42%, 0.4), hsla(139, 84%, 52%, 0.8)),
	linear-gradient(to right, hsla(0,0%,0%,0), hsla(0,0%,100%,.2)) !important;
	box-shadow: inset 0 0 0 1px hsl(139, 84%, 62%) !important;
}
#chat .mention.role-promoter .name,
#chat .mention.role-promoter .timestamp {
	color: #40975B !important;
}
/*
 ┌————————————————————┐
 │    gRole: PLOT     │
 └————————————————————┘
*/
.icon-chat-plot {
	background: url(https://PsychousSvK.github.io/WolfsBurrow/Icons/PlotWolf.png) -16px !important;
}
.icon-chat-plot ~ span,
#chat .role-plot .un {
	color: #977240 !important;
}
/* --[MENTION]-- */
#chat .mention.role-plot {
	background: linear-gradient(hsla(34, 58%, 42%, 0.4), hsla(34, 58%, 52%, 0.8)),
	linear-gradient(to right, hsla(0,0%,0%,0), hsla(0,0%,100%,.2)) !important;
	box-shadow: inset 0 0 0 1px hsl(34, 58%, 62%) !important;
}
#chat .mention.role-plot .name,
#chat .mention.role-plot .timestamp {
	color: #977240 !important;
}
/*
 ┌————————————————————┐
 │   gRole: SITEMOD   │
 └————————————————————┘
*/
.icon-chat-sitemod {
	background: url(https://PsychousSvK.github.io/WolfsBurrow/Icons/SitemodWolf.png) -16px !important;
}
.icon-chat-sitemod ~ span,
#chat .role-sitemod .un {
	color: #974040 !important;
}
/* --[MENTION]-- */
#chat .mention.role-sitemod {
	background: linear-gradient(hsla(0, 58%, 42%, 0.4), hsla(0, 58%, 52%, 0.8)),
	linear-gradient(to right, hsla(0,0%,0%,0), hsla(0,0%,100%,.2)) !important;
	box-shadow: inset 0 0 0 1px hsl(0, 58%, 62%) !important;
}
#chat .mention.role-sitemod .name,
#chat .mention.role-sitemod .timestamp {
	color: #974040 !important;
}
/*
 ┌————————————————————┐
 │    gRole: BA       │
 └————————————————————┘
*/
.icon-chat-ambassador {
	background: url(https://PsychousSvK.github.io/WolfsBurrow/Icons/Ranks.png) -15px !important;
}
.icon-chat-ambassador ~ span,
#chat .role-ambassador .un {
	color: hsl(75,90%,42%) !important;
}
/* --[MENTION]-- */
#chat .mention.role-ambassador {
	background: linear-gradient(hsla(101, 58%, 69%, 0.4), hsla(101, 58%, 79%, 0.8)),
	linear-gradient(to right, hsla(0,0%,0%,0), hsla(0,0%,100%,.2)) !important;
	box-shadow: inset 0 0 0 1px hsl(101, 58%, 89%) !important;
}
#chat .mention.role-ambassador .name,
#chat .mention.role-ambassador .timestamp {
	color: hsl(101, 58%, 99%) !important;
}
/*
 ┌————————————————————┐
 │   gRole: ADMIN     │
 └————————————————————┘
*/
.icon-chat-admin {
	background: url(https://PsychousSvK.github.io/WolfsBurrow/Icons/Ranks.png) 0 !important;
}
.icon-chat-admin ~ span,
#chat .role-admin .un {
	color: #52FF00 !important;
}
/* --[MENTION]-- */
#chat .mention.role-admin {
	background: linear-gradient(hsla(101, 100%, 50%, 0.4), hsla(101, 100%, 60%, 0.8)),
	linear-gradient(to right, hsla(0,0%,0%,0), hsla(0,0%,100%,.2)) !important;
	box-shadow: inset 0 0 0 1px hsl(101, 100%, 70%) !important;
}
#chat .mention.role-admin .name,
#chat .mention.role-admin .timestamp {
	color: #52FF00 !important;
}
/*
 ┌————————————————————┐
 │    Users-list      │
 └————————————————————┘
 Needs to be in this order &
 separated from roles to
 maintain correct priorities */
/* Host */
#user-lists .group.host {
	color: #8FC078;
	background: linear-gradient(to right, hsla(101, 38%, 61%, 0.5), hsla(101, 38%, 71%, 0.5)) !important;
	top: 1px;
}
/* Only make the First user the host to have as many co-hosts as you want */
#user-lists .group.host ~ .user:nth-child(2) .name {
	color: #8FC078;
}
/* Co-hosts */
#user-lists .group.host ~ .user .name {
	color: #8FC078;
}
/* Managers */
#user-lists .group.manager {
	color: #70955F;
	background: linear-gradient(to right, hsla(101, 36%, 48%, 0.5), hsla(101, 36%, 58%, 0.5)) !important;
}
#user-lists .group.manager ~ .user .name {
	color: #70955F;
}
/* Bouncers */
#user-lists .group.bouncer {
	color: #4F7B3A;
	background: linear-gradient(to right, hsla(101, 53%, 35%, 0.5), hsla(101, 53%, 45%, 0.5)) !important;
}
#user-lists .group.bouncer ~ .user .name {
	color: #4F7B3A;
}
/* DJs */
#user-lists .group.dj {
	color: #206200;
	background: linear-gradient(to right, hsla(100, 100%, 19%, 0.5), hsla(100, 100%, 29%, 0.5)) !important;
}
#user-lists .group.dj ~ .user .name {
	color: #206200;
}
/*
 ┌————————————————————┐
 │   Miscellaneous    │
 └————————————————————┘
*/
#chat .cm.mention .msg {
	/*fix RCS*/
	background: none !important;
}
#user-lists .group {
	border: none !important;
	box-shadow: 0 0 1px 1px;
}
#waitlist .list .user .name i {
	display: block; /* sub is display:none wtf plug ? */
}
.community__right-bar .friends .list .row.is-offline {
	filter: saturate(.5);
}
