#user-lists .list .user.id-40796598 .name:after {
    content: "CSS DEV";
    margin-left: 5px;
    background: rgba(0,0,0,.3);
    padding: 0px 5px;
    border: 1px solid rgba(252, 73, 73, 1);
    border-radius: 5px;
    color: #FC4949;
    font-size: 9px;
}

#chat [data-cid^='40796598-'] .un:after {
    content: "CSS DEV";
    margin-left: 5px;
    background: rgba(0,0,0,.3);
    padding: 0px 5px;
    border: 1px solid rgba(252, 73, 73, 1);
    border-radius: 5px;
    color: #FC4949;
    font-size: 9px;
}

#user-rollover.id-40796598 .meta .username:after {
    content: "CSS DEV";
    margin-left: 5px;
    background: rgba(0,0,0,.3);
    padding: 0px 5px;
    border: 1px solid rgba(252, 73, 73, 1);
    border-radius: 5px;
    color: #FC4949;
    font-size: 10px;
}

#user-rollover.id-40796598 .info .role span:after {
    content: ' / Manager';
}

#user-rollover.id-4690413 .info .role span:after {
    content: ' / Resident DJ';
}
