┌————————————————————┐
│     Role: NONE     │
└————————————————————┘
 --[MENTION]-- */
#chat .cm.mention span {
    color: hsl(60, 70%, 50%);
}

#chat .cm.mention .name {
    color: hsl(60, 80%, 50%);
}

#chat .cm.mention .timestamp {
    color: hsl(60, 80%, 50%);
}

/*
 ┌————————————————————┐
 │     Role: YOU      │
 └————————————————————┘
*/
.is-you .name,
#chat .cm.role-you .un {
    color: hsl(200, 100%, 50%);
}

#chat .mention.is-you .name {
    color: hsl(200, 100%, 40%) !important;
}

#chat .mention.is-you .timestamp {
    color: hsl(200, 100%, 40%) !important;
}

/*
 ┌————————————————————┐
 │   Role: FRIEND     │
 └————————————————————┘
*/
#chat .cm.role-friend .un {
    color: hsl(80, 60%, 50%);
}

#chat .mention.role-friend .name {
    color: hsl(80, 60%, 60%) !important;
}

#chat .mention.role-friend .timestamp {
    color: hsl(80, 60%, 60%) !important;
}

┌————————————————————┐
│  Role: SILVERSUB   │
└————————————————————┘
*/
.icon-chat-silver-subscriber {
    background: url(https://PsychousSvK.github.io/FreeRun/Icons/Ranks.png) -120px !important;
}

#user-rollover .meta.silversubscriber .status i {
    background: url(https://PsychousSvK.github.io/FreeRun/Icons/Ranks.png) -120px !important;
}

.icon-chat-silver-subscriber ~ span {
    color: #8F96A3 !important;
}

#user-rollover .meta.silversubscriber .status span {
    color: #8F96A3 !important;
}

#chat .mention.role-silver-subscriber .name {
    color: hsl(219°, 10%, 60%) !important;
}

#chat .mention.role-silver-subscriber .timestamp {
    color: hsl(219°, 10%, 60%) !important;
}

/*
 ┌————————————————————┐
 │   Role: GOLDSUB    │
 └————————————————————┘
*/
.icon-chat-subscriber {
    background: url(https://PsychousSvK.github.io/FreeRun/Icons/Ranks.png) -105px !important;
}

#user-rollover .meta.subscriber .status i {
    background: url(https://PsychousSvK.github.io/FreeRun/Icons/Ranks.png) -105px !important;
}

.icon-chat-subscriber ~ span {
    color: #C59840 !important;
}

#user-rollover .meta.subscriber .status span {
    color: #C59840 !important;
}

#chat .mention.role-subscriber .name {
    color: hsl(39°, 53%, 51%) !important;
}

#chat .mention.role-subscriber .timestamp {
	color: hsl(39°, 53%, 51%) !important;
}

/*
 ┌————————————————————┐
 │   Role: RES. DJ    │
 └————————————————————┘
*/
.icon-chat-dj {
    background: url(https://PsychousSvK.github.io/FreeRun/Icons/Ranks.png) -90px !important;
}

.icon-chat-dj ~ span {
    color: #3FC791 !important;
}

#dialog-user-role .role-menu .menu ul .dj span {
    color: #3FC791 !important;
}

#chat .role-dj .un {
    color: #3FC791 !important;
}

#chat .mention.role-dj .name {
    color: hsl(156°, 55%, 51%) !important;
}

#chat .mention.role-dj .timestamp {
    color: hsl(156°, 55%, 51%) !important;
}

/*
 ┌————————————————————┐
 │   Role: BOUNCER    │
 └————————————————————┘
*/
.icon-chat-bouncer {
    background: url(https://PsychousSvK.github.io/FreeRun/Icons/Ranks.png) -75px !important;
}

.icon-chat-bouncer ~ span {
    color: #63C73F !important;
}

#dialog-user-role .role-menu .menu ul .bouncer span {
    color: #63C73F !important;
}

#chat .role-bouncer .un {
    color: #63C73F !important;
}

#chat .mention.role-bouncer .name {
    color: #63C73F !important;
}

#chat .mention.role-bouncer .timestamp {
    color: #63C73F !important;
}

*
 ┌————————————————————┐
 │   Role: MANAGER    │
 └————————————————————┘
*/
.icon-chat-manager {
    background: url(https://PsychousSvK.github.io/FreeRun/Icons/Ranks.png) -60px !important;
}

.icon-chat-manager ~ span {
    color: #B3C73F !important;
}

#dialog-user-role .role-menu .menu ul .manager span {
    color: #B3C73F !important;
}

#chat .role-manager .un {
    color: #B3C73F !important;
}

#chat .mention.role-manager .name {
    color: #B3C73F !important;
}

#chat .mention.role-manager .timestamp {
    color: #B3C73F !important;
}

/*
 ┌————————————————————┐
 │   Role: CO-HOST    │
 └————————————————————┘
*/
.icon-chat-cohost {
    background: url(https://PsychousSvK.github.io/FreeRun/Icons/Ranks.png) -45px !important;
}

.icon-chat-cohost ~ span {
    color: #C7813F !important;
}

#dialog-user-role .dialog-body .role-menu .menu ul .cohost span {
    color: #C7813F !important;
}

.role-cohost .un {
    color: #C7813F !important;
}

#chat .role-cohost .un {
    color: #C7813F !important;
}

#chat .mention.role-cohost .name {
    color: hsl(29°, 55%, 51%) !important;
}

#chat .mention.role-cohost .timestamp {
    color: hsl(29°, 55%, 51%) !important;
}

/*
 ┌————————————————————┐
 │     Role: HOST     │
 └————————————————————┘
*/
.icon-chat-host {
    background: url(https://PsychousSvK.github.io/FreeRun/Icons/Ranks.png) -30px !important;
}

.icon-chat-host ~ span {
    color: #C7813F !important;
}

#dialog-user-role .role-menu .menu ul .host span {
    color: #C7813F !important;
}

#chat .role-host .un {
    color: #C7813F !important;
}

#chat .mention.role-host .name {
    color: hsl(29°, 55%, 51%) !important;
}

#chat .mention.role-host .timestamp {
    color: hsl(29°, 55%, 51%) !important;
}

/*
 ┌————————————————————┐
 │    gRole: PLOT     │
 └————————————————————┘
*/
.icon-chat-plot {
    background: url(https://PsychousSvK.github.io/FreeRun/Icons/Plot.png) -15px !important;
}

.icon-chat-plot ~ span {
    color: #C7C03F !important;
}

#chat .role-plot .un {
    color: #C7C03F !important;
}

#chat .mention.role-plot .name {
    color: #C7C03F !important;
}

#chat .mention.role-plot .timestamp {
    color: #C7C03F !important;
}

/*
 ┌————————————————————┐
 │   Role: PROMOTER   │
 └————————————————————┘
*/
.icon-chat-promoter {
    background: url(https://PsychousSvK.github.io/FreeRun/Icons/Promoter.png) -15px !important;
}

.icon-chat-promoter ~ span {
    color: #3FC76F;
}

#chat .role-promoter .un {
    color: #3FC76F;
}

#chat .mention.role-promoter .name {
    color: #3FC76F;
}

#chat .mention.role-promoter .timestamp {
    color: #3FC76F;
}

/*
 ┌————————————————————┐
 │   gRole: SITEMOD   │
 └————————————————————┘
*/
.icon-chat-sitemod {
    background: url(https://PsychousSvK.github.io/FreeRun/Icons/Sitemoderator.png) -15px !important;
}

.icon-chat-sitemod ~ span {
    color: #C73F3F !important;
}

#chat .role-sitemod .un {
    color: #C73F3F !important;
}

#chat .mention.role-sitemod .name {
    color: #C73F3F !important;
}

#chat .mention.role-sitemod .timestamp {
    color: #C73F3F !important;
}

/*
 ┌————————————————————┐
 │    gRole: BA       │
 └————————————————————┘
*/
.icon-chat-ambassador {
    background: url(https://PsychousSvK.github.io/FreeRun/Icons/Ranks.png) -15px !important;
}

.icon-chat-ambassador ~ span {
    color: hsl(103°, 55%, 51%) !important;
}

#chat .role-ambassador .un {
    color: hsl(103°, 55%, 51%) !important;
}

#chat .mention.role-ambassador .name{
    color: hsl(103°, 55%, 51%) !important;
}

#chat .mention.role-ambassador .timestamp {
    color: hsl(103°, 55%, 51%) !important;
}

/*
 ┌————————————————————┐
 │   gRole: ADMIN     │
 └————————————————————┘
*/
.icon-chat-admin {
    background: url(https://PsychousSvK.github.io/FreeRun/Icons/Ranks.png) 0 !important;
}

.icon-chat-admin ~ span {
    color: #3FB9C7 !important;
}

#chat .role-admin .un {
    color: #3FB9C7 !important;
}

#chat .mention.role-admin .name {
    color: #3FB9C7 !important;
}

#chat .mention.role-admin .timestamp {
    color: #3FB9C7 !important;
}

/*
 ┌————————————————————┐
 │    Users-list      │
 └————————————————————┘
 Needs to be in this order &
 separated from roles to
 maintain correct priorities */
/* Host */
#user-lists .group.host {
    color: #C7813F;
    background: linear-gradient(to right, hsla(29°, 55%, 51%, 0.25), hsla(29°, 55%, 51%, 0.5)) !important;
    top: 1px;
}

/* Only make the First user the host to have as many co-hosts as you want */
#user-lists .group.host ~ .user:nth-child(2) .name {
	color: #C7813F;
}

/* Co-hosts */
#user-lists .group.host ~ .user .name {
    color: #C7813F;
}

/* Managers */
#user-lists .group.manager {
    color: #B3C73F;
    background: linear-gradient(to right, hsla(69°, 55%, 51%, 0.25), hsla(69°, 55%, 51%, 0.5)) !important;
}

#user-lists .group.manager ~ .user .name {
    color: #B3C73F;
}

/* Bouncers */
#user-lists .group.bouncer {
    color: #63C73F;
    background: linear-gradient(to right, hsla(104°, 55%, 51%, 0.25), hsla(104°, 55%, 51%, 0.5)) !important;
}

#user-lists .group.bouncer ~ .user .name {
    color: #63C73F;
}

/* DJs */
#user-lists .group.dj {
    color: #3FC791;
    background: linear-gradient(to right, hsla(156°, 55%, 51%, 0.25), hsla(156°, 55%, 51%, 0.5)) !important;
}

#user-lists .group.dj ~ .user .name {
    color: #3FC791;
}

/*
 ┌————————————————————┐
 │   Miscellaneous    │
 └————————————————————┘
*/
#chat .cm.mention .msg {
    /*fix RCS*/
    background: none !important;
}

#user-lists .group {
    border: none !important;
    box-shadow: 0 0 1px 1px;
}

#waitlist .list .user .name i {
    display: block; /* sub is display:none wtf plug ? */
}

.community__right-bar .friends .list .row.is-offline {
    filter: saturate(.5);
} 
