/*▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬ */

/* Xbytez */
[data-cid^="3602201-"] .badge-box .bdg {
    border-radius: 5px;
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
    background-image: url("https://PsychousSvK.github.io/Christmas/Icons/Santa.gif");
}

#user-rollover.id-3602201 .badge-box .bdg {
    border-radius: 5px;
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
    background-image: url("https://PsychousSvK.github.io/Christmas/Icons/Santa.gif");
}

#user-rollover.id-3602201 .badge-box i.bdg {
    background-image: url(https://PsychousSvK.github.io/Christmas/Icons/Santa.gif);
    background-size: cover;
    width: 100%;
    height: 100%;
    background-position: initial;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 5px;
}

#chat-messages .id-3602201 .badge-box:hover {
    width:65px;
    height:65px;
    transition:.4s
}

#chat-messages .id-3602201 .badge-box i.bdg {
    background-image:url(https://PsychousSvK.github.io/Christmas/Icons/Santa.gif);
    background-size:cover;
    width:100%;
    height:100%;
    background-position:initial;
    position:absolute;
    top:0;
    left:0;
    border-radius: 5px;
}

/*▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬ */

/* PsychoušSvK */
[data-cid^="40796598-"] .badge-box .bdg {
    border-radius: 5px;
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
    background-image: url("https://PsychousSvK.github.io/WolfsBurrow/Icons/PsychousSvK.jpg");
}

#user-rollover.id-40796598 .badge-box .bdg {
    border-radius: 5px;
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
    background-image: url("https://PsychousSvK.github.io/WolfsBurrow/Icons/PsychousSvK.jpg");
}

#user-rollover.id-40796598 .badge-box i.bdg {
    background-image: url(https://PsychousSvK.github.io/WolfsBurrow/Icons/PsychousSvK.jpg);
    background-size: cover;
    width: 100%;
    height: 100%;
    background-position: initial;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 5px;
}

#chat-messages .id-40796598 .badge-box:hover {
    width:65px;
    height:65px;
    transition:.4s
}

#chat-messages .id-40796598 .badge-box i.bdg {
    background-image:url(https://PsychousSvK.github.io/WolfsBurrow/Icons/PsychousSvK.jpg);
    background-size:cover;
    width:100%;
    height:100%;
    background-position:initial;
    position:absolute;
    top:0;
    left:0;
    border-radius: 5px;
}

/*▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬ */

/* Ciendy */
[data-cid^="4690413-"] .badge-box .bdg {
    border-radius: 5px;
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
    background-image: url("https://PsychousSvK.github.io/Christmas/Icons/Ciendy.gif");
}

#user-rollover.id-4690413 .badge-box .bdg {
    border-radius: 5px;
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
    background-image: url("https://PsychousSvK.github.io/Christmas/Icons/Ciendy.gif");
}

#user-rollover.id-4690413 .badge-box i.bdg {
    background-image: url(https://PsychousSvK.github.io/Christmas/Icons/Ciendy.gif);
    background-size: cover;
    width: 100%;
    height: 100%;
    background-position: initial;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 5px;
}

#chat-messages .id-4690413 .badge-box:hover {
    width:65px;
    height:65px;
    transition:.4s
}

#chat-messages .id-4690413 .badge-box i.bdg {
    background-image:url(https://PsychousSvK.github.io/Christmas/Icons/Ciendy.gif);
    background-size:cover;
    width:100%;
    height:100%;
    background-position:initial;
    position:absolute;
    top:0;
    left:0;
    border-radius: 5px;
}

/*▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬ */

.user-content.profile .meta .bdg.g {
    background-image: url(https://PsychousSvK.github.io/WolfsBurrow/Icons/PsychousSvK.jpg); !important
    background-size:cover;
    width:100%;
    height:100%;
    background-position:initial;
    position:absolute;
    top:0;
    left:0;
    border-radius: 5px;
}

.bdg.g {
    background-image: url(https://PsychousSvK.github.io/Christmas/Icons/Badge.png);
    background-size: cover;
    width: 100%;
    height: 100%;
    background-position: initial;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 5px;
}

.bdg.s {
    background-image: url(https://PsychousSvK.github.io/Christmas/Icons/Badge.png);
    background-size: cover;
    width: 100%;
    height: 100%;
    background-position: initial;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 5px;
}

.bdg.e {
    background-image: url(https://PsychousSvK.github.io/Christmas/Icons/Badge.png);
    background-size: cover;
    width: 100%;
    height: 100%;
    background-position: initial;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 5px;
}

.bdg.o {
    background-image: url(https://PsychousSvK.github.io/Christmas/Icons/Badge.png);
    background-size: cover;
    width: 100%;
    height: 100%;
    background-position: initial;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 5px;
}

.bdg {
    background-image: url(https://PsychousSvK.github.io/Christmas/Icons/Badge.png);
    background-size: cover;
    width: 100%;
    height: 100%;
    background-position: initial;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 5px;
}

#user-rollover .info .badge-box {
    position: relative;
    top: 7px;
    float: left;
    margin-left: 8px;
}

.bdg.g {
    background-image: url(https://PsychousSvK.github.io/Christmas/Icons/Badge.png);
    background-size: cover;
    width: 100%;
    height: 100%;
    background-position: initial;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 5px;
}
   
/*▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬ */
