#user-lists .list .user.id-40796598 .name:after {
    content: "CSS DEV";
    margin-left: 5px;
    background: rgba(0,0,0,.3);
    padding: 0px 5px;
    border: 1px solid rgba(73, 129, 252, 1);
    border-radius: 5px;
    color: #4981FC;
    font-size: 9px;
}

#chat [data-cid^='40796598-'] .un:after {
    content: "CSS DEV";
    margin-left: 5px;
    background: rgba(0,0,0,.3);
    padding: 0px 5px;
    border: 1px solid rgba(73, 129, 252, 1);
    border-radius: 5px;
    color: #4981FC;
    font-size: 9px;
}

#user-rollover.id-40796598 .meta .username:after {
    content: "CSS DEV";
    margin-left: 5px;
    background: rgba(0,0,0,.3);
    padding: 0px 5px;
    border: 1px solid rgba(73, 129, 252, 1);
    border-radius: 5px;
    color: #4981FC;
    font-size: 10px;
}
